@use '../base/typography' as *;


%btn {
padding: .3em .9em;
border-radius: 20px;
outline: none;
border: none;
display: inline-block;
font-size: 1.2em;
font-weight: 600;
font-family: $big-font;
text-transform: uppercase;
position: relative;
z-index: 1;
cursor: pointer;
}

.btn {
  @extend%btn;
  transition: transform 200ms ease;
  &:hover, &:focus, &:focus-visible {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 200ms ease;
  }
}
.btn__primary {
@extend%btn;
background-color: transparent;
color: var(--op-h-clr-1);
border: 2px solid $bg-clr;
}

/* .btn__primary::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: $bg-clr;
  z-index: -2;
} */
.btn__primary::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: $o-white;
  z-index: -1;
}